/* comments can be removed when work is finished */
body{

  background-color: powderblue;
  color: black;
  text-align: left;
  font-family: "Comic Sans MS"; 

}

/* should appear like its own section */
header{}

/* the divs are separated by significant padding.
 * the intro div has wide margins, but the game div allows
 * its content to spread across most of the page width.
 *
 */

div#intro{

  border: 3px solid pink;
  padding: 10px;
  margin: 10px;
}

div#game{
 
  overflow: auto;
  max-height: 700px;
  border: 3px solid pink;
  padding: 5px;
  margin: 10px;
}

div#gameDeck{

  float: right;
  max-width: 400px;
  margin: 0 0 10px 10px;
}

div#gameBoard{

  float: left;
  margin: 0 0 10px 10px;
  max-width: 600px;
}

div#gameMenu{
  
  float: left;
  margin: 0 0 10px 10px;
  max-width: 300px;
  /*overflow: auto;*/
}

button.info{

  position: relative;
  top: 10px;
}

form.info{

  position: relative;
  top: 30px;
}

a{}


